*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(65, 27, 101); */
}
.navbar {
    background-color: rgb(27, 11, 41);
    position: fixed;
    z-index: 1;
}
.navbar-brand {
    margin-left: 45px;
} 
.col-md-3 {
    padding-left: 70px;
}

#navbarSupportedContent ul li a {
    color: blueviolet;
    text-align: center;
    float: left;
   
    padding: 10px;
}
#navbarSupportedContent ul li a:hover {
    color: goldenrod;
    background-color: #ffffff09;
    border-radius: 10px;
    transform: scale(1.1);

}
.container-fluid {
    height: 540px;
    background-color:rgb(38, 16, 59) ;

}


h3 {
    color: rgba(255, 255, 255, 0.715);
    text-align: center;
    font-size: 20px;  
    position: relative;
    top: 130px;
    /* left: 100px; */
}
h1 {
    color: blueviolet;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 130px;
    left: 0px;
}
.rajkumar {
    height: auto;
    width: auto;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 170px;
}
.rajkumar:hover {
    color: white;
    text-decoration: none;
}
Small {
    color: rgb(112, 36, 183);
}
.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.container-img:hover {
    transform: scale(1.1);
}


.centered-image {
    max-width :100%;
    height: 300px;
    border-radius:5%;
    border: 5px solid white;

    
}
.about-container {
    background-color:rgba(33, 10, 54, 0.993);
    height: 650px;
}
.container-spex  {
    text-align: center;
    position: relative;
   background-color: transparent;
}
.container-spex h2 {
    color: rgb(128, 15, 234);
    margin-right: auto;
    margin-top: 20px;
    background-color: transparent;
}
.container-spex h4 {
    margin-top: 10px;
    background-color: transparent;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.632);
}
.container-spex  small {
    color: goldenrod;
    font-size: 25px;
    background-color: transparent;
}  
.container-img-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
   
}
.container-img-one img {
    background-color: transparent;
    margin-top: -130px;
}
.container-img-one img:hover {
    transform: scale(1.1);
}
 .contnainer-red a {
    padding: 10px;
    background-color: rgb(125, 12, 230);
    margin: 10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.contnainer-red  {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   
}
.educational-details {
    background-color: rgb(37, 9, 61);
    height: 500px;
    display: flex;
    justify-content: center;

}
.edu {
    background-color: black;
    height:230px;
    width:auto;
    margin-top: 150px;
    margin-left: 50px;
    color: white;
    padding: 30px;
   border-radius: 20px;
   border: 2px solid white;
  

}
.edu:hover {
    transform: scale(1.1);
}
.u {
    position: relative;
    height: 50px;
    margin-top: -120px;
    background-color: transparent;
}
.u:hover {
    transform: scale(1.1);
}
center {
    color: goldenrod;
    font-size: 20px;
    background-color: transparent;
}
.royal:hover {
    transform: scale(1.1);
}
.projects {
    background-color:rgb(25, 10, 39) ;
    justify-content: center;
    height: 450Px;
   
}
.skills {
    display: flex;
    justify-content: center;
    background-color: rgb(42, 16, 66);
    height: 50vh;
    position: relative;
    bottom: 20px;
}
.cd-sm-6 .checked {
    color:gold;
}
.div p {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgb(42, 16, 66);
}
.cd-sm-6 span {
    color: white;
    float: right;
    
    position: relative;
    top: 20px;
    right: 60px;
    
}
.cd-sm-6 label {
    color: white;
    margin-left: 140px;
    margin-top: 20px;
}
.div1 {
    width: 30%;
    background-color: black;
    margin: 20px;
    height: 310px;
    border-radius: 20px;
    border: 2px solid white;
    
}
.div2 {
    width: 30%;
    height: 360px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid white;
}
.div1:hover {
    transform: scale(1.1);
}
.div2:hover {
    transform: scale(1.1);
}
.contact {
 justify-content: center;
 background-color: rgb(33, 14, 52);
 
}
.contact small {
    font-size: 20px;
    color: goldenrod;

}
 .r {
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
}
 .s{
   margin: 20px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 20px;
    border: 2px solid white;
}
.p {
    margin: 20px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 20px;
    border: 2px solid white;
}
 .q {
   margin: 20px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 20px;
    border: 2px solid white;
}
.p:hover {
    transform: scale(1.1);
}
.q:hover {
    transform: scale(1.1);
}
.r:hover {
    transform: scale(1.1);
}
.s:hover {
    transform: scale(1.1);
}
i {
    color: goldenrod;
    font-size: 30px;
}
.con 
{
    color: white;
    font-size: 30px;
    text-align: center;
    height: 100px;
    margin-top: -20px;
    background-color: rgb(33,14,52);
}